body {
  background: #fefefe;
  color: #000000;
  font-size: 1.2rem;
}
table {
  border-spacing: 0;
  text-align: left;
}
table td,
table th {
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
}
table tr:nth-child(even) {
  background-color: rgb(194, 194, 194);
}
